:root {
    --primary: rgb(196, 109, 196);
    --secundary: rgb(248, 248, 248);
    --third: rgb(142, 180, 227);
    --background: #ffffff;
    --font: #000000;
    --font-button: #ffffff;
    --border: #cfcfcf;
    --header-background: #ffffff;
}