@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--font);
  background-color: var(--background);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.container_component {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .content_container {
    width: 1300px;
    height: 100%;
    position: relative;
  }
}

.button {
  background-color: var(--primary);
  color: var(--font-button);
  font-weight: bold;
  border-radius: 40px;
  padding: 0 40px;
  margin: 20px 0;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: 1300px) {
    .container_component {
        .content_container {
          width: 100%;
        }
    }
}