.header_container {
  height: 10vh;
  width: 100vw;
  border-bottom: 1px solid var(--border);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: var(--header-background);
  position: relative;
  .header_logo_links_container {
    width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .header_links_container {
        a {
            font-weight: bold;
            margin: 10px;
            color: var(--font);
            transition: 0.2s;
            &:hover {
                color: var(--primary);
            }
        }
        .current {
            color: var(--primary);
        }
    }
  }
}
